<html>
    <head>
        <title>YelpCamp</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
<div class="homeButton">
<h3 id="colorrr">Welcome to KnowYourDestination</h3>
<a class="btn btn-large btn-primary" href="/campgrounds">View Our Destinations Here !!!</a>
<a class="btn btn-large btn-primary" href="/login">Login</a>
<a class="btn btn-large btn-primary" href="/register">Sign Up</a>
</div>
<% include partials/footer.ejs %>