<% include ./partials/header %> 
<div class="container">
    <div class="container">
    <div class="container">
        <div class="container">
            <div class="container">
<h1>Login!</h1>
<form class="specific" action="/login" method="POST">
    <input class="form-control" type="text" name="username" placeholder="username"></br>
    <input class="form-control" type="password" name="password" placeholder="password"></br>
    <input class="btn btn-primary" type="submit" value="Login!">
</form>
 </div>
    </div>
    </div>
    </div>

<% include ./partials/footer %> 
