<% include ./partials/header %> 
<div class="container">
    <div class="container">
    <div class="container">
        <div class="container">
            <div class="container">
        <h1>Sign Up!</h1>
        
        <form class="specific" action="/register" method="post">
           
            <input class="form-control" class="resize" type="text" name="username" placeholder="username"></br>
          
            <input class="form-control" class="resize" type="password" name="password" placeholder="password"></br>
            <button class="btn btn-small btn-primary">Sign Up</button>
            </div>
            </div>
        </form>
        </div>
    </div>
    </div>
    </div>
<% include ./partials/footer %> 
